@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="fullwidth-div">

    <h1 id="faq-heading">Frequently Asked Questions</h1>

    <h3 class="FAQ-question">Is my information on CodingBuddy secure?</h3>
    <p class="FAQ-answer">
        Your information is totally secure. We use the latest and greatest in encryption technology to keep your personal information private.
        Our servers are also protected from physical intrustion, hidden away in a secret dungeion full of deadly boobly traps with spike pits, arrows, poisonous
        snakes and a man-eating troll named Steve who we feed just enough that he doesn't try to escape, but will also eat anyone he happens to come across.
    </p>

    <h3 class="FAQ-question">Why should I use CodingBuddy?</h3>
    <p class="FAQ-answer">
        No other service provides the incredible services that our service is able to serve you. The service we provide is the most servicing
        service that you could possibly have a service possessing servitude that could be provide to address your servation needs in total servationary serviceness.
    </p>

    <h3 class="FAQ-question">Does chocolate milk come from brown cows?</h3>
    <p class="FAQ-answer">
        No, the colour of the cow makes no difference. What does is making sure the cow is fed a steady diet of chocolate so that the flavour is
        imparted into the milk that it produces.
    </p>
    
</div>