@{
    ViewBag.Title = "CodingBuddy - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Attribution for split-screen layout: https://www.w3schools.com/howto/howto_css_split_screen.asp*@
<div class="splitscreen left">
    <div class="splitscreen-textbox">
        <h1 id="welcome-heading">Welcome to CodingBuddy!</h1>
        <div id ="welcome-list">
            <ul >
                <li>
                    Find a Coding Buddy with similar programming experience, skills, and tech interests
                </li>
                <li>
                    Register quickly in just a few steps...
                </li>
                <li>
                    Set your match filters with the "Find-a-Buddy page"
                </li>
                <li>
                    Once you match with someone, message them directly in Slack.
                </li>
            </ul>
        </div >
    </div>
</div>

<div class="splitscreen right">
    <div class="slogan-container">
        <img id="slogan-graphics" src="~/assets/codeConnectCreate.svg" alt="White text in black bubble background saying Code, Connect Create." />
    </div>
</div>
